########################
# Values used to have headlamp with fluxcd plug in 
########################
# config:
#   pluginsDir: /build/plugins
# initContainers:
#   - command:
#       - /bin/sh
#       - -c
#       - mkdir -p /build/plugins && cp -r /plugins/* /build/plugins/ && chown -R 100:101 /build
#     image: ghcr.io/headlamp-k8s/headlamp-plugin-flux:latest
#     imagePullPolicy: Always
#     name: headlamp-plugins
#     securityContext:
#       runAsNonRoot: false
#       privileged: false
#       runAsUser: 0
#       runAsGroup: 0
#     volumeMounts:
#       - mountPath: /build/plugins
#         name: headlamp-plugins
# persistentVolumeClaim:
#   accessModes:
#     - ReadWriteOnce
#   enabled: true
#   size: 1Gi
# volumeMounts:
#   - mountPath: /build/plugins
#     name: headlamp-plugins
# volumes:
#   - name: headlamp-plugins
#     persistentVolumeClaim:
#       claimName: headlamp # The name of the Helm release
config:
  pluginsDir: /build/plugins
  oidc:
    enabled: false
  # Disable authentication entirely
  authMode: local

initContainers:
  - name: headlamp-plugins
    image: ghcr.io/headlamp-k8s/headlamp-plugin-flux:latest
    imagePullPolicy: Always
    command:
      - /bin/sh
      - -c
      - mkdir -p /build/plugins && cp -r /plugins/* /build/plugins/ && chown -R 100:101 /build
    securityContext:
      runAsNonRoot: false
      privileged: false
      runAsUser: 0
      runAsGroup: 0
    volumeMounts:
      - name: headlamp-plugins
        mountPath: /build/plugins

volumes:
  - name: headlamp-plugins
    emptyDir: {}

volumeMounts:
  - name: headlamp-plugins
    mountPath: /build/plugins
